/* You can add global styles to this file, and also import other style files */
* {
  list-style: none;
  text-align: center;
}

.trans-box {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color:white;
  width: inherit;
  height: 100%;
  opacity: 0.3;
  position: fixed;

}

.content {
  margin: auto;
  width: 50%;
  color: Black;
}

body {
  background-color: #aaaaaa;
  background-image: url(https://wallpaperplay.com/walls/full/7/5/3/124131.jpg);
  background-repeat:   no-repeat;
  background-attachment: fixed;
}

ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.character-list-item {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  background-color: #dddddd;
  width: 80%;
  color: black;
}